@media screen and (max-width: 767px) {
    /*.navbar-toggle {
        margin-right: 20px;
    }*/
    .rev-scroll-btn {
        display: none;;
    }
	.col-md-12 {
    padding-right: 0px;
    padding-left: 0;
	}
	.row.mobile-p.col-md-4 {
    padding-left: 35px;
}
}

